Code
commonfate
dconf
discord
Electron
enchant
environment.d
evolution
fontconfig
font-manager
foot
alacritty/themes
gedit
git
gnome-initial-setup-done
gnome-session
go
goa-1.0
google-chrome
gopls
gpick
.gsd-keyboard.settings-ported
gtk-3.0
gtk-4.0
helm
htop
ibus
intune
libreoffice
log
menus
microsoft-edge
microsoft-identity-broker
mimeapps.list
monitors.xml
nautilus
neofetch
neovide
pavucontrol.ini
pulse
spotify
systemd
teams-for-linux
temporalio
update-notifier
user-dirs.dirs
user-dirs.locale
JetBrains
MongoDB Compass
autostart
dlv
pgadmin4
pypoetry
gh
GIMP
OpenRGB
unity3d
