@define-color coolgrey #fffffa;
@define-color lightgrey #54729D;
@define-color planetlight #898883;
@define-color bluehighlight #D5EFFF;

@define-color background #dadedf;
@define-color globalforeground #EFF1F5;
@define-color tooltipbackground #effeee;
@define-color centerbackground #ebebe7;

/*
catppuccin latte colors:
# Normal colors
[colors.normal]
black = '#5C5F77' # subtext1
red = '#e64553' # red
green = '#40A02B' # green
yellow = '#DF8E1D' # yellow
blue = '#7287FD' # blue
magenta = '#8839ef' # pink
cyan = '#179299' # teal
white = '#ACB0BE' # surface2

# Bright colors
[colors.bright]
black = '#6C6F85' # subtext0
red = '#D20F39' # red
green = '#40A02B' # green
yellow = '#DF8E1D' # yellow
blue = '#1E66F5' # blue
magenta = '#eA76CB' # pink
cyan = '#179299' # teal
white = '#BCC0CC' # surface1

# Dim colors
[colors.dim]
black = '#5C5F77' # subtext1
red = '#D20F39' # red
green = '#40A02B' # green
yellow = '#DF8E1D' # yellow
blue = '#1E66F5' # blue
magenta = '#EA76CB' # pink
cyan = '#179299' # teal
white = '#acb0be' # surface2
*/

@define-color whiteseethrough alpha(#EFF1F5, 0.8);
@define-color puccinblack #5C5F77;
@define-color pulseaudiobackground #7287FD;
@define-color idle_inhibbackground #04a5e5;
@define-color languagebackground #40A02B;
@define-color membackground #dc8a78;
@define-color cpubackground #DF8E1D;
@define-color gpubackground #d20f39;
@define-color traybackground #8839ef;

/* NOTE: This is actually a gtk css file */

* {
    border: none;
    border-radius: 0;
    font-family: "AnonymiceProNerdFont";
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: rgba(000, 000, 000, 0.4);
    color: @globalforeground;
    opacity: 1;
    border-bottom: 2px solid white;
}

tooltip {
    background: @tooltipbackground;
    border: 3px solid @coolgrey;
    border-radius: 5px;
}

tooltip label {
    color: @globalforeground;
}


.modules-right {
    background: transparent;
    color: @globalforeground;
    border-bottom: 2px solid white;
}

.modules-left {
    background: transparent;
    padding-right: 15px;
    border-bottom: 2px solid white;
}

.modules-center {
    border-bottom: 2px solid white;
}

#custom-right_modules_left_sep {
    color: @whiteseethrough;
}

#custom-left_modules_right_sep {
    color: @whiteseethrough;
}


 /* SWAY */
#custom-sway_left_sep {
    background: @whiteseethrough;
    color: @centerbackground;
}

#custom-sway_right_sep {
    background: @whiteseethrough;
    color: @centerbackground;
}

#workspaces button {
    color: @planetlight;
    background: @centerbackground;
}

#workspaces button.visible {
    color: @bluehighlight;
    background: @centerbackground;
}

#workspaces button.focused {
    color: black;
    background: @centerbackground;
    border-top: 2px solid black;
}

#mode {
    background: @centerbackground
}

 /* Pulseaudio */
#custom-pulseaudio_right_sep {
    background: @whiteseethrough;
    color: @pulseaudiobackground;
}

#custom-pulseaudio_left_sep {
    background: @pulseaudiobackground;
    color: @pulseaudiobackground;
}

#pulseaudio {
    background: @pulseaudiobackground;
    color: @globalforeground;
    padding-right: 7px;
}


 /* idle inhibitor */
#custom-idle_inhib_right_sep {
    background: @whiteseethrough;
    color: @idle_inhibbackground;
}

#custom-idle_inhib_left_sep {
    background: @whiteseethrough;
    color: @idle_inhibbackground;
}

#idle_inhibitor {
    background: @idle_inhibbackground;
    color: @globalforeground;
    padding-left: 7px;
    padding-right: 7px;
}


 /* language */
#custom-language_right_sep {
    background: @whiteseethrough;
    color: @languagebackground;
}

#custom-language_left_sep {
    background: @whiteseethrough;
    color: @languagebackground;
}

#language {
    background: @languagebackground;
    color: @globalforeground;
    padding-left: 7px;
    padding-right: 7px;
}

 /* MEM */
#custom-mem_right_sep {
    background: @whiteseethrough;
    color: @membackground;
}

#custom-mem_left_sep {
    background: @whiteseethrough;
    color: @membackground;
}

#memory {
    background: @membackground;
    color: @globalforeground;
}

 /* CPU */
#custom-cpu_right_sep {
    background: @whiteseethrough;
    color: @cpubackground;
}

#custom-cpu_left_sep {
    background: @whiteseethrough;
    color: @cpubackground;
}

#cpu_group {
    background: @cpubackground;
    color: @globalforeground;
}

 /* GPU */
#custom-gpu_right_sep {
    background: @whiteseethrough;
    color: @gpubackground;
}

#custom-gpu_left_sep {
    background: @whiteseethrough;
    color: @gpubackground;
}

#gpu_group {
    background: @gpubackground;
    color: @globalforeground;
}

 /* TRAY */
#custom-tray_left_sep {
    background: @whiteseethrough;
    color: @traybackground;
}

#custom-tray_right_sep {
    /* background: @whiteseethrough; */
    background: @traybackground;
    color: @traybackground;
}

#tray {
    background: @traybackground;
}

 /* CLOCK */
#clock {
    color: @globalforeground;
    font-weight: bold;
}

tooltip {
  background-color: @whiteseethrough;
  text-shadow: none;
}

tooltip label {
  color: @puccinblack;
}

/* #battery.charging { */
/*     color: white; */
/* } */
/**/
/* @keyframes blink { */
/*     to { */
/*         background-color: #ffffff; */
/*         color: black; */
/*     } */
/* } */
/**/
/* #battery.warning:not(.charging) { */
/*     background: #f53c3c; */
/*     color: white; */
/*     animation-name: blink; */
/*     animation-duration: 1s; */
/*     animation-timing-function: steps(30); */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */
