@define-color coolgrey #fffffa;
@define-color lightgrey #54729D;
@define-color planetlight #a9aFa3;
@define-color bluehighlight #D5EFFF;

@define-color background #dadedf;
@define-color globalforeground #343456;
@define-color tooltipbackground #effeee;
@define-color centerbackground #4f444a;

/* NOTE: This is actually a gtk css file */

* {
    border: none;
    border-radius: 0;
    /* font-family: "EnvyCodeR11NerdFontMono"; */
    font-family: "GohuFontuni11NerdFont";
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: rgba(255, 255, 255, 0.5);
    color: @globalforeground;
    opacity: 1;
}

tooltip {
    background: @tooltipbackground;
    border: 3px solid @coolgrey;
    border-radius: 5;
}

tooltip label {
    color: @globalforeground;
}

.modules-right {
    background: rgba(0, 0, 0, 0);
    padding-left: 15;
    padding-right: 15;
}

.modules-left {
    background: rgba(0, 0, 0, 0);
    background: @coolgrey;
    padding-left: 15px;
    padding-right: 15px;
}

.modules-center {
}

#custom-left_sep {
    background: rgba(0, 0, 0, 0);
    color: @centerbackground;
}

#custom-right_sep {
    background: rgba(0, 0, 0, 0);
    color: @centerbackground;
}

#workspaces button {
    color: @planetlight;
    background: @centerbackground;
}

#workspaces button.visible {
    color: @bluehighlight;
    background: @centerbackground;
}

#workspaces button.focused {
    color: white;
    background: @centerbackground;
    border-top: 2px solid white;
}

/* #battery.charging { */
/*     color: white; */
/* } */
/**/
/* @keyframes blink { */
/*     to { */
/*         background-color: #ffffff; */
/*         color: black; */
/*     } */
/* } */
/**/
/* #battery.warning:not(.charging) { */
/*     background: #f53c3c; */
/*     color: white; */
/*     animation-name: blink; */
/*     animation-duration: 1s; */
/*     animation-timing-function: steps(30); */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */
