@define-color coolgrey #fffffa;
@define-color lightgrey #54729D;
@define-color planetlight #898883;
@define-color bluehighlight #D5EFFF;

@define-color tooltipbackground #effeee;
@define-color swaybackground #ebebe7;

@define-color blue #1e66f5;
@define-color globalforeground #EFF1F5;
@define-color whiteseethrough alpha(#EFF1F5, 0.69);
@define-color blackseethrough alpha(#000000, 0.4);
@define-color puccinblack #5C5F77;
@define-color audiobackground #40A02B;
@define-color idle_inhibbackground #04a5e5;
@define-color languagebackground #7287FD;
@define-color membackground #dc8a78;
@define-color cpubackground #df8e1d;
@define-color gpubackground #d20f39;
@define-color traybackground #8839ef;
@define-color powerbackground #efde7d;


* {
    border: none;
    border-radius: 0;
    font-family: "AnonymiceProNerdFont";
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: @blackseethrough;
    color: @globalforeground;
    opacity: 1;
}

window#waybar, .modules-right, .modules-left, .modules-center {
    border-bottom: 4px solid white;
}

tooltip {
  background-color: @globalforeground;
  text-shadow: none;
}

tooltip label {
  color: @puccinblack;
}


.modules-right {
    background: transparent;
}

.modules-left {
    background: transparent;
}

#custom-right_modules_left_sep {
    color: @whiteseethrough;
}

#custom-left_modules_right_sep {
    color: @whiteseethrough;
}

#custom-edge_modules_left_sep, #custom-edge_modules_right_sep {
    background: @whiteseethrough;
    color: white;
}


 /* AUDIO */
#custom-audio_right_sep {
    background: @whiteseethrough;
    color: @audiobackground;
}

#custom-audio_left_sep {
    background: @whiteseethrough;
    color: @audiobackground;
}

#audio_group {
    background: @audiobackground;
    color: @globalforeground;
}


 /* IDLE INHIBITOR */
#custom-idle_inhib_right_sep {
    background: @whiteseethrough;
    color: @idle_inhibbackground;
}

#custom-idle_inhib_left_sep {
    background: @whiteseethrough;
    color: @idle_inhibbackground;
}

#idle_inhibitor {
    background: @idle_inhibbackground;
    color: @globalforeground;
    padding-left: 7px;
    padding-right: 7px;
}


 /* LANGUAGE */
#custom-language_right_sep {
    background: @whiteseethrough;
    color: @languagebackground;
}

#custom-language_left_sep {
    background: @whiteseethrough;
    color: @languagebackground;
}

#language {
    background: @languagebackground;
    color: @globalforeground;
    padding-left: 7px;
    padding-right: 7px;
}

 /* SWAY */
#custom-sway_left_sep {
    background: @whiteseethrough;
    color: @swaybackground;
}

#custom-sway_right_sep {
    background: @whiteseethrough;
    color: @swaybackground;
}

#workspaces button {
    color: @planetlight;
    background: @swaybackground;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button.visible {
    color: @bluehighlight;
    background: @swaybackground;
}

#workspaces button.focused {
    color: @blue;
    background: @swaybackground;
    /* border-top: 2px solid black; */
}

#mode {
    background: @swaybackground
}

/* POWER */
#power_group {
    background: @powerbackground;
    color: @puccinblack;
}
#custom-power_left_sep {
    background: @whiteseethrough;
    color: @powerbackground;
}
#custom-power_right_sep {
    background: @whiteseethrough;
    color: @powerbackground;
}

 /* MEM */
#custom-mem_right_sep {
    background: @whiteseethrough;
    color: @membackground;
}

#custom-mem_left_sep {
    background: @whiteseethrough;
    color: @membackground;
}

#memory {
    background: @membackground;
    color: @globalforeground;
}

 /* CPU */
#custom-cpu_right_sep {
    background: @whiteseethrough;
    color: @cpubackground;
}

#custom-cpu_left_sep {
    background: @whiteseethrough;
    color: @cpubackground;
}

#cpu_group {
    background: @cpubackground;
    color: @globalforeground;
}

 /* GPU */
#custom-gpu_right_sep {
    background: @whiteseethrough;
    color: @gpubackground;
}

#custom-gpu_left_sep {
    background: @whiteseethrough;
    color: @gpubackground;
}

#gpu_group {
    background: @gpubackground;
    color: @globalforeground;
}

 /* TRAY */
#custom-tray_left_sep {
    background: @whiteseethrough;
    color: @traybackground;
}

#custom-tray_right_sep {
    background: @whiteseethrough;
    /* background: @traybackground; */
    color: @traybackground;
}

#tray {
    background: @traybackground;
}

 /* CLOCK */
#clock {
    color: @globalforeground;
    font-weight: bold;
}


/* #battery.charging { */
/*     color: white; */
/* } */
/**/
/* @keyframes blink { */
/*     to { */
/*         background-color: #ffffff; */
/*         color: black; */
/*     } */
/* } */
/**/
/* #battery.warning:not(.charging) { */
/*     background: #f53c3c; */
/*     color: white; */
/*     animation-name: blink; */
/*     animation-duration: 1s; */
/*     animation-timing-function: steps(30); */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */
