@define-color whiteseethrough alpha(#EFF1F5, 0.7);
@define-color whitee #EFF1F5;
@define-color bblack #5C5F77;
@define-color greay #BCC0CC;
@define-color lavender #7287FD;

* {
    font-family: "AnonymiceProNerdFont";
}

window {
	margin: 5px;
	background-color: @whiteseethrough;
}

#input {
	margin: 2px;
	border: 2px @bblack;
	background-color: @whitee;
	color: @bblack;
}


#outer-box {
	margin: 5px;
	/* border: 2px solid @greay; */
}


#entry:selected {
	background-color: @lavender;
	background: linear-gradient(90deg, @lavender, #dd77ff);
}

#text {
	margin: 5px;
	color: @bblack;
}

#text:selected {
	color: @whitee;
}

#text:input {
	color: @bblack;
}

