@define-color whiteseethrough alpha(#EFF1F5, 0.2);
@define-color bblack #5C5F77;
@define-color greay #BCC0CC;
@define-color lavender #7287FD;


window {
	margin: 5px;
	background-color: @whiteseethrough;
}

#input {
	margin: 2px;
	border: 2px @bblack;
	background-color: @whiteseethrough;
	color: @bblack;
}

#inner-box {
	background-color: @whiteseethrough;
}

#outer-box {
	margin: 5px;
	border: 2px solid @greay;
}

#entry:selected {
	background-color: @whiteseethrough;
	border: 2px solid @lavender;
	color: @lavender;
}

#scroll {
	margin: 5px;
	background-color: @whiteseethrough;
	color: @bblack;
}

#text {
	margin: 5px;
	color: @bblack;
}
